@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap');


@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Regular.woff2') format('woff2');
	src: url('../fonts/Nunito-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
} 

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Bold.woff2') format('woff2');
	src: url('../fonts/Nunito-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-SemiBold.woff2') format('woff2');
	src: url('../fonts/Nunito-SemiBold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

body{
	font-family: 'nunito';
	font-weight: 600;
	font-size: 16px;
	margin: 15px;
}


.introduce {
	text-align: center;
	text-transform: capitalize;
	background-color: rgb(255, 255, 0);
	padding: 10px 30px;
	margin-bottom: 50px;
}

img{
margin-bottom: 15px;
}
.introduce p{
	text-align: justify;
}

span{
	text-decoration: line-through;
}
.main-block {
	line-height: 2;
} 

.main-block p{
	text-indent: 50px;
}

.text2 ~ p{
	letter-spacing: 5px;
}

.text2{
	width: 500px;
}

a {
	color: blue;
}

.secondary-block {
	font-family: caveat;
	font-weight: 700;
	font-style: 20;
	word-spacing: 15px;
}

.text1{
	text-decoration: underline;
}

.records{
	text-transform: uppercase;
	padding-top: 30px;
}

.records li{
	text-shadow: 6px 5px 1px #CCCCCC;
}


h1, h2 {
	font-size: 24px;
	font-weight: 700;
}

li{
	margin-bottom: 5px;
}